.footer {
  background: linear-gradient(#485563, #29323c);
  height: 66px;
  width: 100%;

  position: absolute;
  bottom: 0;
  left: 0;
}

.footer__link-github {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 100%;
  width: 100%;

  font-family: "Source Sans 3", sans-serif;
  font-size: 24px;
  color: #fff;
  text-align: center;
}

.footer__link-github:hover {
  text-decoration: underline;
}
